@font-face {
  font-family: Gilroy-Regular;
  src: url("../../shared/assets/fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: Gilroy-Bold;
  src: url("../../shared/assets/fonts/Gilroy-Bold.ttf");
}
