@import 'normalize';
@import 'variables/global';

body {
  font-family: var(--font-family-main);
  font-size: var(--font-size-xxs);
  color: var(--color-black);
  background-color: var(--color-white);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.content-page {
  padding: var(--padding-main);
  padding-top: var(--size-navbar-height-with-padding);
  display: flex;
  flex-direction: column;
}

.hoverSvg {
  & path {
    transition-duration: var(--transition-duration);
  }

  &:hover {
    & path {
      fill: var(--color-purple);
    }
  }
}

.hoverText {
  transition-duration: var(--transition-duration);

  &:hover {
    color: var(--color-purple);
  }
}
