.size-xxs {
  font: var(--font-xxs);
}

.size-xs {
  font: var(--font-xs);
}

.size-s {
  font: var(--font-s);
}

.size-m {
  font: var(--font-m);
}

.size-l {
  font: var(--font-l);
}

.size-xl {
  font: var(--font-xl);
}

.size-xxl {
  font: var(--font-xxl);
}

.title {
  text-transform: uppercase;
}
