.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 20px;
  transition-duration: var(--transition-duration);
  text-align: left;
  padding: 0 12px;
}

.primary {
  background-color: var(--color-purple);
  color: var(--color-white);
  transition-duration: var(--transition-duration);

  &:hover {
    background-color: var(--color-purple-lt);
  }
}

.size-m {
  max-height: 40px;
  font-size: var(--font-size-xs);
  padding: 13px 12px;
}
