.ProductSizeElement {
  border: none;
  color: var(--color-bg);
  background-color: var(--color-primary);
  cursor: pointer;
  padding-right: 12px;
  font-weight: bold;
  display: flex;
  justify-content: end;
  align-items: center;
  transition-duration: var(--transition-duration);

  &:hover {
    background-color: var(--color-secondary);
  }
}

.size-m {
  height: 43px;
}
