.Skeleton {
  position: relative;
  overflow: hidden;
  background-color: var(--color-skeleton-bg);

  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: var(--z-index-skeleton);
    top: 0;
    height: 100%;
    width: 80%;
    background: linear-gradient(to right, transparent 0%, var(--color-skeleton-gradient-bg) 50%, transparent 100%);
    animation: load 1.3s cubic-bezier(.25, .1, .25, 1) infinite;
  }
}

@keyframes load {
  from {
    left: -100%;
  }

  to {
    left: 100%;
  }
}
